.AdminRecentUserCardBody {
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
.AdminRecentUser {
    background-color: rgb(242, 242, 242);
}
.AdminRecentUserActivtyScroll {
    height: 350px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll ;
}
.AdminRecentUserActivtyScroll::-webkit-scrollbar {
    display: none;
}
/* edited */
.AdminRecentUserActivtyScrolls {
    height: 450px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll ;
}

.AdminRecentUserCardBodys {
    height: 500px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }

  .relatives{
    position: relative;
  }

  .view.open {
    display: block;
    transition: 0.5s ease;
  
  }
  .view {

    display: none;
    position: absolute;
    /* top: 236px; */
    z-index: 1000;
    margin-top: 50px;
    width: 400px;
  }
  
 

  @media(max-width:550px) {
    .view {
        
        margin-top: 50px;
        width: 320px;
      }
  }